.header{
    width: 20px;
    height: 12px;
    background-color: dodgerblue;
    color: #fff
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  